<div id="<%= dom_id model %>">
  <p>
    <strong>Comment:</strong>
    <%= model.Comment %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= model.content %>
  </p>

  <p>
    <strong>Post:</strong>
    <%= model.post_id %>
  </p>

</div>
