<% content_for :title, "New comment" %>

<div class="container mx-auto px-4 py-8">
  <h1 class="text-4xl font-extrabold text-gray-900 mb-8">Create a New comment</h1>

  <%= render "form", comment: @comment %>

  <div class="mt-6">
    <%= link_to "Back to comments", comments_path, class: "text-blue-600 hover:text-blue-800 text-lg font-semibold" %>
  </div>
</div>
